        <br>
        <br>
        <footer>
            <hr>
            CST336 Internet Programming. jaco20-hw1&copy; Contreras <br />
            <strong>Disclaimer:</strong> This website is for academic purposes only.
            <figure>
                <img id="logo" src="img/CSUMB_Logo.png" alt="CSUMB Logo" width="300">
            </figure>
        </footer>
    </body>
</html>