<%- include('partials/header.ejs') %>
            <main>
                <div id="content">
                    <details>
                        <summary><strong>Tusks are actually...</strong></summary>
                        <p>An elephant's tusks are actually their incisor teeth! 
                        They generally start growing around two years old are 
                        used to aide in eating and a defensive tool.</p>
                        <p>Their tusks are made of ivory which unfortunately 
                        is a highly desired item. Sadly elephants are being hunted  
                        for their ivory faster than they reproduce. If you are
                        interested in learning more, look in THE TRUTH page.</p>
                    </details>
                    <details>
                        <summary><strong>The World's Largest Land Mammal</strong></summary>
                        <p>At their full size an average male African elephant 
                         weighs up to 6 tons and as high as 3 meters tall! </p>
                    </details>
                    <details>
                        <summary><strong>What's the difference?</strong></summary>
                        <p>There are two species of elephants, African and Asian. 
                        They can told apart by the shape of their trunks and shape
                        of their ears </p> 
                        <p>An Asian elephant will have one "finger" at the tip
                        of their trunk while an African elephants will have two.</p>
                        <p>Asians elephants have smaller ears that are shaped
                        shaped like India. African Elephants have larger ears
                        shaped like Africa.</p>
                    </details>
                    <details>
                        <summary><strong>1 Hour</strong></summary>
                        <p> Twenty minutes after being born elephants calves can 
                        stand and can start walking within an hour! Typically
                        within two days a calve may keep pace with the herd. 
                        .</p>    
                    </details>
                </div>
                <figure>
                    <img id="indexPic" src="img/elephant2.jpg" alt="elephant" width="300">
                    <figcaption>Image by Mike1087 from Pixabay </figcaption>
                </figure> 
            </main>
            
<%- include('partials/footer.ejs') %>