<%- include('partials/header.ejs') %>
            <main>
                
                <div id="content">
                     <ul>
                             <li>
                                 <span class="actions">Stay Informed and Inform Others</span>
                                 : Avoid buying ivory products such as jewlery, older
                                 billard balls and pianos. Avoid places who offer
                                 elephant rides. 
                             </li>
                              <li>
                                 <span class="actions">Support Responsible Tourism</span>
                                 : Support reputable sanctuaries, wildlife reserves,
                                 and conserveation centers that do not offer elephant rides
                                 or elephant shows.
                             </li>
                              <li>
                                 <span class="actions">Let Others Know</span>
                                 : Let others know of what to avoid and encourage
                                 responsible tourism.Express your concern to parks
                                 who offer elephant riding and encourage them to 
                                 make changes.
                             </li>
                     </ul>
                     <p></p>
                    <figure>
                    <img id="indexPic" src="img/ivory.png" alt="elephant" width="300">
                    <figcaption>Image by Folke Wulf from WWF </figcaption>
                    </figure> 
                </div>
               
            </main>
<%- include('partials/footer.ejs') %>            
