<%- include('partials/header.ejs') %>
            <main>
             <div id="content">
               <h2><strong>The Ivory Trade</strong><br></h2>
               <p>      In the 1970's the demand for ivory skyrocketed. Ivory
               was used to make billard balls, piano keys, jewlery, statues, etc;
               during this time. Elephants tusks are completely made of ivory, therefore 
               were being targetedfor their tusks. During this period of time ivory was being sold 
               legally while being taken illegally. Hundreads of thousands of 
               elephants were being killed each year until more than half of the 
               population was gone within the next decade. </p>
               <p>     Ivory was banned in 1989 by the Covention on International
               Trade in Endangered Species. Despite this, the legalization of stockpiling
               of remaining ivory to certain entities allowed certain markets to stay open
               and sell ivory legally. Because of this elephants poaching still 
               continues as it may be sold illegally to these markets and camouflaged
               within the legal sale of ivory.Elephant poaching still remains the main
               threat to the elephant population today.<br>  
               </p>
               <h2><strong>Refuse to Ride</strong></h2>
               <p>Aside from the ivory trade, elephants still suffer for our enertainment.
               Baby elephants are poached form the wild and seperated from their families
               for tourist enertainment. They are beaten until they become obediant
               so tourists may ride them and so they may perform tricks. Refuse
               to ride elephants and only support responsible tourism projects.</p>
                <div class="video">
                 <iframe width="500" height="315" src="https://www.youtube.com/embed/ws6X9FIvL0s"
                 title="Ivory Market"
                 allow="accelerometer; autoplay; encrypted-media; gyroscope;
                 picture-in-picture" allowfullscreen></iframe>
                 <iframe width="500" height="315" src="https://www.youtube.com/embed/FkT3y-_y_6w" 
                 title="Refuse to Ride"
                 allow="accelerometer; autoplay; encrypted-media; gyroscope;
                 picture-in-picture" allowfullscreen></iframe>
                </div>
             </div>
 
            </main>
<%- include('partials/footer.ejs') %>            
