<%- include('partials/header.ejs') %>         
            <main>
                <figure>
                    <img id="indexPic" src="img/elephant1.jpg" alt="elephant" width="300">
                    <figcaption>Image by ajoheyho from Pixabay </figcaption>
                </figure> 
                <div id="content">
                   <p>Elephants are recognized as the largest land mammals on
                   Earth! Chracteristicly recognized by their floppy ears, long
                   trunks and white tusks.Two species are recgnized by experts 
                   as the Asian and African elephant.Elephants travel in herds
                   and are known as a keystone species. This means elephants
                   are important to the ecosystem and the extinction of elephants
                   would drasically change the ecosystem.</p>
                </div>
            </main>
<%- include('partials/footer.ejs') %>            
